<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination">
	<ul class="pagination">
        <!-- <li class="page-item"><a class="page-link" href="#">≪</a></li>
        <li class="page-item"><a class="page-link" href="#">＜</a></li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item"><a class="page-link" href="#">＞</a></li>
        <li class="page-item"><a class="page-link" href="#">≫</a></li> -->
    </ul>
<script type="text/javascript" src="/assets/js/pagination.js"></script>
</th:block>
</html>
