<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>예약</title>
</head>
<body>
<th:block layout:fragment="content">
	<div class="main res-main">
        <h1>예약자 검색</h1>
        <div>
            <section class="search-box mb20 mt20">
              <form action="" method="get" onsubmit="return false;">
              	<input type="text" id="" name="res_name" class="mr5 w100px" placeholder="이름">
                <!-- <div class="date">
                    <input type="text" id="from_date" name="reg_date" class="date_pick input2" placeholder="등록일"> 
                    <i class="cal1"></i>
                </div> -->
                 <button type="submit" class="btn-w" onclick="searchTable()">검색</button>
                 <!-- <button type="button" class="btn-blue" onclick="reservationPopup()">예약등록</button> -->
              </form>
            </section>
            <section class="table-out">
                <table class="in-table">
                  <tbody class="table-head">
                    <tr>
                      <td rowspan="2" class="td-t1">대분류</td>
                      <td rowspan="2" class="td-t1">중분류</td>
                      <td rowspan="2" class="td-name bgpink">이름</td>
                      <td rowspan="2" class="td-ph bgpink">연락처</td>
                      <td rowspan="2" class="td-w bgpink">구매방법</td>
                      <td rowspan="2" class="td-w bgpink">금액</td>
                      <td colspan="2" class="bgpurple">기본옵션</td>
<!--                      <td colspan="3" class="bgLGrey">서핑강습</td>-->
<!--                      <td colspan="2" class="bgLpink">서핑렌탈</td>-->
<!--                      <td colspan="1" class="bgyellow">파티</td>-->
<!--                      <td colspan="1" class="bgLBlue">펍</td>-->
                      <td rowspan="2" class="td-t1 bgpink">메모</td>
                      <td rowspan="2" class="td-t1">등록일</td>
                    </tr>
                    <tr>
                      <td class="td-w bgpurple">수량</td>
                      <td class="td-w bgpurple">예약일</td>
<!--                      <td class="td-w bgpurple">입실여부</td>-->
<!--                      <td class="td-w bgLGrey">수량</td>-->
<!--                      <td class="td-w bgLGrey">강습시간</td>-->
<!--                      <td class="td-w bgLGrey">출석체크</td>-->
<!--                      <td class="td-w bgLpink">수량</td>-->
<!--                      <td class="td-w bgLpink">렌탈종류</td>-->
<!--                      <td class="td-w bgyellow">수량</td>-->
<!--                      <td class="td-w bgLBlue">수량</td>-->
                    </tr>
                  </tbody>
                  <tbody class="tbodyReservation">
					
                  </tbody>
                </table>
            </section>
            <th:block th:replace="fragments/pagination"></th:block>
        </div>
    </div>
<script type="text/javascript" th:src="'/assets/js/'+${jsFileName}+'.js'"></script>
</th:block>
</body>
</html>